# Ignorar archivos sensibles de configuración
config/config.php


# Ignorar archivos de configuración como .env
.env

# Ignorar dependencias si usas Node.js o Composer
/node_modules/
/vendor/

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales de editores
.DS_Store
Thumbs.db

# Ignorar directorios específicos (por si usas directorios de pruebas u otros)
/tests/
