/* Barra de navegación */

#navbar-container {
    position: relative;
    background-color: transparent;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    border-radius: 1rem;
}

#navbar-container a {
    text-decoration: none;
    margin: auto;
}

#navbar-container a:hover {
    color: rgb(65, 114, 76);
}

.sticky-top {
    position: sticky;
    top: 0;
}

.logo {
    position: absolute;
    left: 1rem;
    z-index: 10;
}

.logo img {
    border-radius: 50%;
}

.ser-cont {
    font-size: 2rem;
}

/* Media Query: Pantallas medianas y pequeñas */
@media screen and (max-width: 768px) {
    #navbar-container {
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 0.75rem;
    }

    #navbar-container a {
        font-size: 1.6rem;
    }

    .ser-cont {
        font-size: 1.5rem;
    }

    .logo {
        left: 0.5rem;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }
}

/* Media Query: Pantallas muy pequeñas */
@media screen and (max-width: 480px) {

    #navbar-container a {
        font-size: 1.2rem;
    }

    .ser-cont {
        font-size: 1.2rem;
        text-align: center;
    }

    .logo {
        position: static;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 36px;
        height: 36px;
    }
}