.cont-contacto {
    background-image: url('/src/image/backgroung_contacto.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: bottom center;
}