html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* Tipografías y base */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    color: #333;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Textos y enlaces */

h1,
.h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: #F5F0E6 0px 0px 5px, #F5F0E6 0px 0px 10px, #F5F0E6 0px 0px 15px;
    margin-bottom: 1rem;
}

h2,
.h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    /* color: #9BA88D;  Verde salvia */
    /* color: #F5F0E6;  blanco roto*/
    color: #CC7254;

    margin-bottom: 1.5rem;
}


p,
a {
    font-family: 'Raleway', sans-serif;
    /* font-size: 18px; */
    /* color: #333;
    color: #F5F0E6; */
    color: white;
    /* margin-bottom: 1.25rem; */
    text-decoration: none;
}

/* Botón */
.button,
.btn-success {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: #9BA88D;
    /* Verde salvia */


    background-color: #CC7254;
    color: #F5F0E6;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.btn-success:hover {
    background-color: #F5F0E6;
    color: black;

}

/* Decorativo: bordes o elementos con dorado */
.decorativo {
    border: 2px solid #D6C28E;
    padding: 1rem;
    border-radius: 12px;
}

.decorativo-doble {
    border: 4px double #D6C28E;
    padding: 2rem;
    border-radius: 12px;
}

footer {
    color: black;
}

.foot {
    background-color: #9BA88D;
    color: black;
    font-size: 1.75rem;

}

footer a {
    color: #333;
}

/* Animation */
.fade-up {
    opacity: 0;
    transform: translateY(60px);
    transition: all 3s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}