.fondo-boda {
    background-image: url("/boda/src_boda/image_boda/Arco_flores.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 110vh;
}

.lead {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-align: center;
    text-shadow: #D8A7B1 0px 0px 5px, #D8A7B1 0px 0px 10px, #D8A7B1 0px 0px 15px;

}

.titulo {
    z-index: 2;
    color: white;
    position: relative;
    background-color: #e0657e5b;
}

.imagen-nascosta {
    background-image: url("/boda/src_boda/image_boda/rosas.jpeg");
    background-size: cover;
    background-position: center;
    background-position: bottom;
    background-attachment: fixed;
    height: 100%;
}