/* Variables colores */
:root {
    --blanco: #FFFFFF;
    --blanco-roto: #F5F0E6;
    --negro: #000000;
    --negro-suave: #333;
    --terracota: #CC7254;
    --salvia: #9BA88D;
    --dorado: #D6C28E;

}